.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0.6rem;
  padding: 1.5rem;
  max-height: 25rem;
  min-width: 6.25rem;
  background-color: white;
  z-index: 1;
}

.product__info {
  margin-bottom: 1rem;
  height: 6.25rem;
  /* width: 100%; */
}

.product__price {
  margin-top: 0.3rem;
}

.product__rating {
  margin-top: 0.25rem;
}

.product__image {
  max-height: 12.5rem;
  width: 100%;
  object-fit: contain;
}

.product__button {
  cursor: pointer;
  font-weight: 700;
  color: #131921;
  margin-top: 1.25rem;
  padding: 0.2rem 0.35rem;
  border: 1px solid;
  border-color: #e48d41 #e6944c;
  border-radius: 0.15rem;
  background-color: #febd69;
}

.product__button:hover {
  background-color: #f3a847;
  transition: all 0.3s;
}
