.subtotal {
  background-color: #f3f3f3;
  padding: 1.25rem;
  width: 17.5rem;
  border: 1px solid #dddddd;
  border-radius: 0.2rem;
}

.subtotal__gift {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 1.25rem 0;
}

.subtotal__checkbox {
  margin-right: 0.25rem;
  filter: hue-rotate(190deg);
}

.subtotal__button {
  cursor: pointer;
  font-weight: 700;
  color: #131921;
  width: 100%;
  padding: 0.2rem 0;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 0.15rem;
  background-color: #f0c14b;
}

.subtotal__button:hover {
  background-color: #edb21d;
  transition: all 0.3s;
}
